.about-us {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 275vh; /* Adjust height as needed */
    top: -20px;
  }
  
  .introduction {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
    
  }

  .spanp{
    color: #f16d59;
    font-style: italic;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .introduction-title {
    font-size: 36px;
    font-weight: bold;
    color: #f16d59;
    margin-bottom: 20px;
  }
  
  .introduction-paragraph {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
  }
  
  .team-members {
    padding: 20px;
    background-color: #f8f9fa;
    margin: 20px 20px;
    
  }
  .team-members h2{
    color:#f16d59;
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .team-member {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .member-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    
  }

  .role-p{
    color: #f03f24;
  }
  
  .member-details p {
    margin-bottom: 10px;
  }
  
  /* CoreValuesSection.css */

.core-values {
    padding: 40px 0;
    margin: 20px 20px;
  }
  
  .core-values h2 {
    font-size: 24px;
    font-weight: bold;
    color:#f16d59;
    margin-bottom: 20px;
  }
  
  .core-values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .core-value {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
  }
  
  .core-value h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .core-value p {
    font-size: 16px;
    color: #666;
  }
  
  /* CommunityEngagementSection.css */

.SectionWrapper {
    padding: 40px 0;
    margin-left: 30px;
  }
  
  .Heading {
    font-size: 24px;
    font-weight: bold;
    color:#f16d59;
    margin-bottom: 20px;

  }
  
  .Description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .EngagementList {
    list-style: none;
    padding: 0;
  }
  
  .EngagementItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  
  .Text {
    font-size: 16px;
    color: #333;
  }

  
  /* TestimonialsSection.css */

.Section2Wrapper {
    padding: 40px 0;
  }
  
  .Heading2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .TestimonialContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .TestimonialCard {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .TestimonialText {
    font-size: 16px;
    color: #666;
  }
  
  .TestimonialAuthor {
    margin-top: 10px;
  }
  
  .TestimonialName {
    font-weight: bold;
  }
  
  .TestimonialLocation {
    color: #999;
  }
  